HELP.md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
__pycache__/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

*.swp

node_modules/
static/
.cache/
.parcel-cache/

.DS_Store
